html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #f8f9fa;
}


/* ===== MAPA ===== */

.leaflet-container {
  width: 100%;
  height: 85vh;
  border-radius: 12px;
}


/* ===== OCULTAR PANEL DE LEAFLET ===== */

.leaflet-routing-container,
.leaflet-routing-alt,
.leaflet-routing-container-wrapper {
  display: none !important;
}